* {
  box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	margin: 0;
	margin-left: 10px;
}

header {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	color: white;
	background-color: #bf8827;
	background-image: url(../images/header-bg.jpg);
	background-size: cover;
	background-position: top center;
	padding: 30px;
	margin-bottom: 30px;
}

header a{
	color: white;
	text-decoration: none;
}


h1{
	font-weight: 700;
	color: rgba(255,255,255,0.5);
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.recipes {
	width: 66.66%;
	float: left;

}

.sidebar {
	width: 33.33%;
	float: right;
	background-color: orange;
	padding: 20px;
}

article {
	width: 48%;
	float: left;
	margin-right: 2%;
}

article img{
	width: 100%;
}

footer {
	clear: both;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: black;
	padding: 30px;
}

header li{
	display: inline;
	margin: 20px;
}

footer li {
	display: inline;
	margin: 5px;
}

ul {
	padding: 0;
}

@media (max-width: 1000px) {
	.sidebar{
		display: none;
	}
	.container, .recipes {
		width: 100%;
}

@media (max-width: 600px) {
	article {
		width: 96%;
		margin: 0 2%;
		float: none;
	}
}